/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.card__icon-button:hover {
	border-color: transparent;
}

.card__icon-button:focus-visible {
	border-color: #000;
}

.like-icon .contour {
	transition: fill 0.1s linear;
}

.like-icon .core {
	fill: transparent;
	transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
	fill: transparent;
	transition: fill 0.3s linear;
}

.like-icon .sparks {
	opacity: 0;
}

.like-icon {
	transform-origin: center;
}

.like-icon .heart {
	transform-origin: center;
}

.like-icon:hover .core {
	fill: var(--hover-fill-color);
	transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
	fill: var(--hover-fill-color);
	transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
	fill: var(--animation-fill-color);
	transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
	fill: var(--animation-fill-color);
	transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
	fill: var(--animation-fill-color);
	transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
	fill: var(--animation-fill-color);
	transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
	fill: var(--animation-fill-color);
	transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
	animation: heart-scale 0.3s ease-in 0.1s 1 forwards;
}

.like-icon.is-liked .sparks {
	animation: sparks-show 0.3s ease-in 0.3s 1 forwards;
}

@keyframes heart-scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes sparks-show {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
