/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --Inter-font: "Inter", sans-serif;
  --PressStart2P-font: "PressStart2P", sans-serif;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --block-width: clamp(375px, 100%, 700px);
  --font-size-button: 14px;
  --font-size-text: 18px;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --hover-fill-color: #000;
  --button-text-color: #fff;
}
